@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,300);

body {
    background-color: white;
	font-family: 'Roboto', sans-serif; 
}

.wrapper {
	width: 1000px;
	margin: auto;
}

.navigation {

}

.logo {

}

.top-menu {
	
}

.top-menu li {
	display: inline-block;
}

.header {

}

.header-background-image {

}

.header-wrapper {

}

.header-title {

}

.header-text {

}

.learn-button {

}

.main {

}

.devices {

}

.footer {

}

.icons {

}




